body {
  font-family: 'Times New Roman', Times, serif;
  background-color:bisque;
  font-size: x-large;
}

h1, h3 {
  margin-bottom: 20px;
}

.card-img-top {
  object-fit: cover;
  height: 200px;
}

form input, form textarea {
  resize: none;
}





