body {
  font-family: Arial, sans-serif;
}

h1, h3 {
  margin-bottom: 20px;
}

.card-img-top {
  object-fit: cover;
  height: 200px;
}

form input, form textarea {
  resize: none;
}
body{
  background-color:bisque;
  font-family: 'Times New Roman', Times, serif;
}

