body {
  font-family: 'Times New Roman', Times, serif;
  background-color:bisque;
}

h1, h3 {
  margin-bottom: 20px;
}

.card-img-top {
  object-fit: cover;
  height: 200px;
}

form input, form textarea {
  resize: none;
}
.kep{
    width: 40%;
    border-radius: 10px;
    transition: width 0.5s ease, background-color 0.5s ease, boreder 0.5s ease, box-shadow 0.5s ease;
}

.kep:hover{
    background-color: darkcyan;
    border: 1px solid darkcyan;
    box-shadow: 0 0 15px darkcyan;
    width: 80%;
}



